<div class="card w-100 my-5">
  <div class="card-body">
    <h2 class="card-title text-center">Adicionar novo cliente</h2>
    <form>
      <div class="my-4 d-flex gap-3">
        <div class="form-floating w-50">
          <input type="nome" class="form-control" id="floatingInput" placeholder="Nome do cliente">
          <label for="floatingInput">Nome</label>
        </div>
        <div class="form-floating w-50">
          <input type="cnpj" class="form-control" id="floatingInput" placeholder="Cnpj do cliente">
          <label for="floatingInput">Cnpj</label>
        </div>
      </div>
      <div class="my-4 d-flex">
        <div class="form-floating w-100">
          <input type="endereco" class="form-control" id="floatingInput" placeholder="Endereço do cliente">
          <label for="floatingInput">Endereço</label>
        </div>
      </div>
      <div class="my-4 d-flex gap-3">
        <div class="form-floating w-50">
          <input type="telefone" class="form-control" id="floatingInput" placeholder="Telefone do cliente">
          <label for="floatingInput">Telefone</label>
        </div>
        <div class="form-floating w-50">
          <input type="r-social" class="form-control" id="floatingInput" placeholder="Razão Social do cliente">
          <label for="floatingInput">Razão social</label>
        </div>
      </div>
      <div class="my-4 d-flex">
        <div class="form-floating w-100">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label class="left-1" for="floatingTextarea2">Outras informações</label>
        </div>
      </div>
      <div class="row my-4">
        <div class="form-group mt-4 d-flex gap-3 justify-content-end">
          <button type="buttom" class="btn btn-outline-danger">Cancelar</button>
          <button type="buttom" class="btn btn-success col-2">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>