<div class="card w-100 my-5">
  <div class="card-body">
    <h2 class="card-title text-center">Clientes</h2>
    <button routerLink="/clients/new" class="btn btn-success mb-4 float-end">Novo</button>

    <table class="table">
      <thead>
        <tr class="text-center">
          <th>id</th>
          <th>Nome</th>
          <th>Cnpj</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th colspan="3">Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.id}}</td>
          <td>{{client.nome}}</td>
          <td>{{client.cnpj | cnpj: false}}</td>
          <td>{{client.endereco}}</td>
          <td>{{client.telefone | tel}}</td>
          <td>
            <span>
              <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/clients/info', client.id]">Editar</button>
            </span>
          </td>
          <td>
            <span>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteClient(client.id, client)">Excluir</button>
            </span>
          </td>
          <td>
            <span>
              <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#clientModal" (click)="showClient(client.id)">
                Detalhes
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<crm-client-modal>
  <div class="modal fade" id="clientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel">{{ client.nome }}</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><span class="fw-bold">Cnpj:</span> {{client.cnpj}}</p>
          <p><span class="fw-bold">Endereço: </span>{{client.endereco}}</p>
          <p><span class="fw-bold">Telefone: </span>{{client.telefone}}</p>
          <p><span class="fw-bold">Razão Social: </span>{{client.rsocial}}</p>
          <p><span class="fw-bold">Outras informações: </span></p>
          <p>{{client.outras}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</crm-client-modal>