<div class="card w-100 my-5">
  <div class="card-body">
    <h2 class="card-title text-center">Clientes</h2>
    <button routerLink="/clients/new" class="btn btn-success mb-4 float-end">Novo</button>

    <table class="table">
      <thead>
        <tr class="text-center">
          <th>id</th>
          <th>Nome</th>
          <th>Cnpj</th>
          <th>Endereço</th>
          <th>Telefone</th>
          <th>Opções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.id}}</td>
          <td>{{client.nome}}</td>
          <td>{{client.cnpj | cnpj: false}}</td>
          <td>{{client.endereco}}</td>
          <td>{{client.telefone | tel}}</td>
          <td>
            <span>
              <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/clients/info', client.id]">Editar</button>
            </span>
          </td>
          <td>
            <span>
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteClient(client.id, client)">Excluir</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>